@font-face {
		  font-family: digitalfont;
		  src: url("digital-7-mono.ttf");
		}
	    ol li:nth-child(-n+8) {
	        color: darkcyan;
	    }
	    ol li.isOnWatchlist {
	    	outline: 1px dashed orange;
	    }
	    ol li.isOnIgnorelist {
	    	opacity: 0.5;
	    }
	    ol li.with-chart {
	    	width: 800px;
    		height: 550px;
	    }
	    button {
	    	background: none;
		    border: 1px solid green;
		    border-radius: 5px;
		    padding: 1rem;
		    margin: 1rem;
		    text-align: center;
		    text-shadow: 0 0 7px green;
		    color: green;
		    font-family: 'digitalfont';
		    font-size: 1.5rem;
		    box-shadow: 0 0 7px 0px green;
		    cursor: pointer;
	    }
	    button:hover {
	    	background: rgba(0, 255,0,0.1);
	    }
	    button.small {
	    	font-size: 1rem;
		    padding: 0 1rem;
		    margin: 0;
		    border-top: none;
		    border-bottom: none;
		    box-shadow: none;
	    }
	    body {
    	    padding: 100px;
		    font-weight: 100;
		    /*font-family: avenir;*/
	        /*background: black;
    		color: #690000;*/
    		background: #00202a;
    		/*color: #692300;*/
    		color: #852c00;
		    /*font-family: "Perfect DOS VGA 437";*/
		    font-family: digitalfont;
		    font-size: 20px;
	    }
	    h1 {
	    	font-size: 4rem;
	    	text-shadow: 0 0 7px red;
			color: red;
		    /*font-family: "Perfect DOS VGA 437";*/
		    font-family: digitalfont;
	    }
	    h1, h2 {
		    text-transform: uppercase;
			letter-spacing: .75rem;
	    }
	    h1:before {
	    	content: "\\\\\\\\ ";
	    }
	    h1:after {
	    	content: " ////";
	    }
	    input {
	    	font-family: 'digitalfont';
		    background: rgba(0,0,0,0.4);
		    padding: 0.3rem;
		    border: 0.5rem solid rgba(0,0,0,0.25);
		    color: red;
		    font-size: 2rem;
		    border-radius: 1rem;
		    text-align: center;
	        text-shadow: 0 0 7px red;
    		color: red;
    		margin: 0.5rem 0;
	    }
	    input#timeTravelOffestSelector {
	    	width: 7rem;
	    }
	    input[type="checkbox"] {
	    	background: rgba(0,0,0,0.4);
		    appearance: none;
	        vertical-align: middle;
	    }
	    input[type="checkbox"]:checked {
			background: red;
			box-shadow: 0 0 2px 1px red, 0 0 25px 3px red;
		}
		select {
			background: rgba(0,0,0,0.4);
		    font-family: 'digitalfont';
		    padding: 1rem;
		    color: red;
		    border: 0.5rem solid rgba(0,0,0,0.25);
		    font-size: 1.2rem;
	        text-align: center;
    		text-shadow: 0 0 7px red;
		}
	    nav a {
	    	font-size: 0.75rem;
    		color: #005979;
	    }
		hr {
			width: 50%;
			border: 1px solid rgba(255,255,255,0.1);
			margin-left:0;
		}
		.is-on-futures-list:before {
			content: "FUTURES";
			position: absolute;
			font-size: 7px;
			left: -84px;
			width: 50px;
			top: 6px;
			color: yellow;
			font-weight: 900;
			font-family: sans-serif;
		}
		.margin-trading-allowed:after {
			Content: "M";
		    position: absolute;
		    font-size: 7px;
		    left: -45px;
		    width: 50px;
		    top: 6px;
		    color: #ff00fd;
		    font-weight: 900;
		    font-family: sans-serif;
		}

		#popup {
		    position: absolute;
		    background: white;
		    top: 10%;
		    left: 5%;
		    width: 85%;
		    background: black;
		    border-radius: 15px;
		    box-shadow: 0 0 2px 1px #aeaeff, 0 0 85px 23px #aeaeff;
		}
		.hide {
			display: none;
		}
		#popupClose {
		    margin: 1rem auto;
			width: 100px;
			text-align: center;
			font-size: 3rem;
			cursor: pointer;
		}
		.alert-indicator {
			background: rgba(255,255,255,0.1);
		}

	.led-MEGADANK {
		width: 10px;
		height: 40px;
		background: white;
		border-radius: 15px;
		/*box-shadow: 0 0 2px 2px red, 0 0 28px 9px red;*/
		box-shadow: 0 0 2px 1px #aeaeff, 0 0 25px 3px #aeaeff;
		float: left;
		margin-left: 10px;
	}.led-red {
		width: 10px;
		height: 40px;
		background: red;
		border-radius: 15px;
		/*box-shadow: 0 0 2px 2px red, 0 0 28px 9px red;*/
		box-shadow: 0 0 2px 1px red, 0 0 25px 3px red;
		float: left;
		margin-left: 10px;
	}
	.led-amber {
		width: 10px;
		height: 40px;
		background: orange;
		border-radius: 15px;
		/*box-shadow: 0 0 2px 2px orange, 0 0 28px 9px orange;*/
		box-shadow: 0 0 2px 1px orange, 0 0 25px 3px orange;
		float: left;
		margin-left: 10px;
	}
	.led-green {
		width: 10px;
		height: 40px;
		background: green;
		border-radius: 15px;
		/*box-shadow: 0 0 2px 2px green, 0 0 28px 9px green;*/
		box-shadow: 0 0 2px 1px green, 0 0 25px 3px green;
		float: left;
		margin-left: 10px;
	}

	.spinner::after {
		animation: ascii-cycle 0.75s infinite;
		content: "PENIS";
		font-size: 3rem;
	}
	
	@keyframes ascii-cycle {
	  0% {
	    content: "|";
	  }
	  25% {
	    content: "/";
	  }
	  50% {
	    content: "-";
	  }
	  75% {
	    content: "\\";
	  }
	  100% {
	    content: "|";
	  }
	}

	/* U N C L E   L I A M ' S   T U R B O   I N D I C A T O R */

	.TURBO-indicator {
		display: inline-block;
	}

	.TURBO-indicator span.long-light {
		width: 10px;
		height: 40px;
		border-radius: 15px;
		float: left;
		margin-left: 10px;
	}


	.TURBO-indicator span.bead-light {
		width: 10px;
		height: 10px;
		border-radius: 15px;
		float: left;
		margin-left: 10px;
	}

	.TURBO-indicator span.override.red, .TURBO-indicator span:nth-child(1), .TURBO-indicator span:nth-child(2) {
		background: #bd1400;
		box-shadow: 0 0 2px 1px #bd1400, 0 0 25px 3px #bd1400;
	}

	.TURBO-indicator span.override.amber, .TURBO-indicator span:nth-child(3), .TURBO-indicator span:nth-child(4) {
		background: orange;
		box-shadow: 0 0 2px 1px orange, 0 0 25px 3px orange;
	}

	.TURBO-indicator span.override.green, .TURBO-indicator span:nth-child(5), .TURBO-indicator span:nth-child(6){
		background: green;
		box-shadow: 0 0 2px 1px green, 0 0 25px 3px green;	
	}

	.TURBO-indicator span.override.white-hot, .TURBO-indicator span {
		background: white;
		box-shadow: 0 0 2px 1px #aeaeff, 0 0 25px 3px #aeaeff;
	}

	/* A C C E L E R O M E T E R   P A G E */
	.top-accelerators-list .symbol {
		width: 6rem;
		display: inline-block;
	}
	.top-accelerators-list .recent-percentages {
		border-right: 1px darkcyan dotted;
    	margin-right: 0.4rem;
	}
	.top-accelerators-list .current-volume {
		border-right: 1px darkcyan dotted;
    	margin-right: 0.4rem;
	}
	.top-accelerators-list .multiplier {
		width: 3.5rem;
		display: inline-block;
	}

